body {
  margin: 0;
  padding: 0;
  margin-top: 62px;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.color-empty {
  fill: #ebedf0; 
}
.color-scale-1 {
  fill: #71a7ed; 
}
.color-scale-2 {
  fill: #3376c1; 
}
.color-scale-3 {
  fill: #075db2; 
}
.color-scale-4 {
  fill: #00317b; 
}

